@charset "UTF-8";
.footer{
	height: 448px;
	border-top: 1px solid black;
}
.toparea{
	height: 51px;
	border-bottom: 1px solid #ddd;
	padding:10px 0;
	box-sizing: border-box;
}
.toparea_inner{
	width: 1251px;
	margin: 0 auto;
}
.toparea ul {
	padding: 3px 0;
	box-sizing: border-box;
}
.toparea ul li {
	display: inline-block;
	margin-right: 14px;
}
.toparea ul li a span {
	font-size: 13px;
}
.toparea ul li::before{
	width: 1px;
	height: 9px;
	content: "";
	margin: 5px 14px 0 0;
	background: #ddd;
	float: left;
}
.toparea ul li:first-child::before{
	width: 0;
	height: 0;
	background: none;
	margin: 0;
}
.middlearea{
	height: 229px;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	padding: 45px 0;
}
.middle_inner{
	width: 1251px;
	margin: 0 auto;
	min-width: 100px;
}
.middle_inner ul{
	height: 138px;
	min-width: 100px;
}
.middle_inner ul li{
	display: inline-table;
}
.middle_inner ul li::before{
	width: 1px;
	height: 115px;
	background: #ddd;
	margin-right: 30px;
	content: "";
	float: left;
}
.middle_inner ul li:first-child::before{
	width: 0;
	height: 0;
	margin: 0;
}
.middle_inner ul li h3{
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 17px;
}
.customer{
	margin:0 10px;
	
}
.tel{
	font-size: 30px;
	font-weight: bold;
}
.cstime{
	font-size: 11px;
	color: #888;
	margin-top: 17px;
}
.account{
	box-sizing: border-box;
}

.account ul {
	height: auto;
	
}
.account ul li {
	width: 227px;
	display: block;
	line-height: 20px;
	font-size: 11px;
	color: #888;
	margin-right: 30px;
}
.account ul li::before {
	width: 0;
	height: 0;
	margin: 0;
}
.fnb {
	width: 227px;
}
.fnb ul li{
	display: block;
}
.fnb ul li::before{
	width: 0;
	height: 0;
	margin: 0;
}
.fnb ul li a{
	font-size: 12px;
	color: #888;
	line-height: 20px;
}
.return {
	width: 415px;
}
.return p {
	font-size: 11px;
	color: #888;
	line-height: 15px;
}
.return ul li::before {
	width: 0;
	height: 0;
	margin: 0;
}
.tag li{
	width: 50px;
	height: 50px;
	position:relative;
	border: 1px solid #ddd;
	border-radius: 50%;
	margin-top: 15px;
}

.tag li a i {
	width: 50px;
	height: 50px;
    display: table-cell;
    position:relative;
    right: -13px;
    vertical-align: middle;
    font-size: 22px;
    color: #ccc;
    padding-left: 1px;
}
.tag li a span{
	width: 50px;
	height: 50px;
	display: none;
	font-size: 11px;
	color: white;
    vertical-align: middle;
    padding-left: 2px;
}
.bottomarea{
	height: 167px;
	background: #fafafa;
	margin-top: 46px;
}
.bottom_inner{
	width: 1251px;
	margin: 0 auto;
	padding-top: 50px;
	min-width: 100px;
}
.left{
	float: left;
}
.left ul{
	display: table;
}
.left ul li{
	margin-right: 20px;
	font-size: 11px;
	line-height: 20px;
	display: inline;
	color: #888;
	font-weight: bold;
}
.left ul li span {
	color: #5a5a5a;
	font-weight: bold;
}
.right{
	float: right;
}
.right ul{
	margin-top: 15px;
	position: relative;
	left: -25px;
}
.right ul li{
	display: inline;
}
