<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  	<insert id="insert" parameterType="MemberDTO">
  		insert into member(id,password,name,address,tel,phone,email,
  		birth,smscheck,emailcheck,membertype)
  		values(
  			#{id},#{password},#{name},#{address},#{tel, jdbcType=VARCHAR},
  			#{phone},#{email},#{birth},#{smscheck},#{emailcheck},#{membertype}
  		)
  	</insert>
  	<select id="memberLogin" resultType="MemberDTO" parameterType="MemberDTO">
  		select id, name, address, tel, phone, email, birth, membertype,
  		 smscheck, emailcheck from member
  		 where id=#{id} and password=#{password}
  	</select>
  	<update id="memberUpdate" parameterType="MemberDTO">
  		update member set password=#{password},address=#{address},tel=#{tel},phone=#{phone},
  		email=#{email},birth=#{birth},smscheck=#{smscheck},emailcheck=#{emailcheck}
  		where id = #{id}
  	</update>
  </mapper>