<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="productMapper">
		<select id="totalCount" resultType="java.lang.Integer" parameterType="Pager">
			select count(num) from product where name like '%'||#{search}||'%'
		</select>
		
		<select id="searchList" resultType="ProductDTO" parameterType="Pager">
			select * from(
				select rownum R, p.* from (
					select * from product where name like '%'||#{search}||'%'
				)p ) where R between #{startRow} and #{lastRow}
		</select>
		<select id="selectList" resultType="ProductDTO" parameterType="Pager">
			select * from(
				select rownum R, p.* from (
					select * from product where category1 like '%'||#{category1}||'%' and category2 like '%'||#{category2}||'%'
				)p ) where R between #{startRow} and #{lastRow}
		</select>
		<insert id="insert" parameterType="ProductDTO">
			insert into product(num,name,category1,category2,price,weight,life,event,tag,
								memo,bindname,stock,reg_date,count,fname,oname)values(
			product_seq.nextval,#{name},#{category1},#{category2},#{price},#{weight},
			#{life},#{event},#{tag},#{memo},#{bindname},#{stock},sysdate,0,#{fname},#{oname})
		</insert>
	</mapper>