<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.kim.Project_final.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.kim.Project_final.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.kim.Project_final.util.Pager" alias="Pager"/>
		<typeAlias type="com.kim.Project_final.productImage.ProductImageDTO" alias="ProductImageDTO"/>
		<typeAlias type="com.kim.Project_final.productBoard.ProductBoardDTO" alias="ProductBoardDTO"/>
		<typeAlias type="com.kim.Project_final.cart.CartDTO" alias="CartDTO"/>
		<typeAlias type="com.kim.Project_final.address.AddressDTO" alias="AddressDTO"/>
	</typeAliases>
</configuration>
